.topSites {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

    .topSite {
        margin: 10px;

        a {
            color: white;
            text-decoration: none;
            flex-grow: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .image {
                height: 50px;
                width: 50px;
                background-color: #30475e;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-content: center;

                img {
                    width: 20px;
                    height: 20px;
                    justify-self: center;
                    align-self: center;
                }
            }

            .title {
                width: 100px;
                height: 20px;
                overflow: hidden;
                margin-top: 8px;

                span {
                    text-overflow: ellipsis;
                }
            }

        }
    }
}